body {
  color: #222;
  background: #fff;
  font: 100% system-ui;
  font-family: Helvetica, sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
a {
  color: #0033cc;
}
h1{
  font-size: 58px;
}
h2 {
  font-size: 42px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
  td {
    color: #eee;
  }

}
